@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: 'Playfair Display', serif;
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
}
.scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.584);
}
.scrollbar::-webkit-scrollbar-thumb {
  background: #690000;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #870000;
}

/* Animation of fade-in-out for CSSTransition */

.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 100ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 100ms ease-in;
}

